@import '../../../app/mixins';

.navBar_container {
    height: fit-content;
    width: 100vw;
    padding: 20px 80px 10px 80px;
    @include flex (space-between, center, row);
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;

    @include mediaDesktop {
        padding: 14px 60px 6px;
    }

    @include mediaTabPortrait {
        box-shadow: 0 0 6px 0.25px $black-25;
        padding: 14px 45px;
    }

    @include mediaMobile {
        padding: 9px 16px 9px 20px;
    }




    .links_wrapper {
        @include flex (center, center, row);
        column-gap: 75px;

        @include mediaDesktop {
            column-gap: 55px;
        }

        @media (max-width:768px) {
            display: none;
        }

        li {
            font-size: 17px;
            color: $blue-primary;
            opacity: 0.8;
            font-weight: 800;
            letter-spacing: 1.15px;
            text-transform: uppercase;

            @include mediaLaptop {
                letter-spacing: 0.5px;
            }

            @include mediaTabPortrait {
                height: 20px;

            }

            &:hover {
                opacity: 0.4;
            }
        }
    }
}

.mask_nav {
    width: 100%;
    height: 101px;
    position: fixed;
    right: -102%;
    top: 0;
    background-color: $white;
    cursor: none;
    z-index: 20;
    display: block;

    @include mediaTabPortrait {
        height: 72.5px;
    }
}

.mask_body {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 10;
    background-color: rgb(196 196 196 / 10%);
    ;
    backdrop-filter: blur(2px);
}