@import '../../../app/mixins';

.skills_section {
    width: 100%;
    height: 100vh;
    @include flex (center, center, column);
    row-gap: 60px;
    overflow: hidden;
    position: relative;

    @include mediaTabPortrait {
        height: fit-content;
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 80px;

    }
    @include mediaMobile{
        padding: 105px 0 125px;
        row-gap: 40px;
    }

    .skills_containers {
        width: 100%;
        height: fit-content;
        @include flex (center, start, column);
        row-gap: 35px;

        @include mediaMobile{
            padding: 0px 38px;
            row-gap: 30px;
        }

        .top,
        .center,
        .bottom {
            @include flex (center, center, row);
            column-gap: 145px;
            width: 100%;

            @include mediaWideDesktop {
                column-gap: 195px;
            }

            @include mediaLaptop {
                column-gap: 115px;
            }

            @include mediaTabPortrait {
                column-gap: 70px;
            }

            @include mediaMobile{
                flex-wrap: wrap;
                column-gap: 50px;
                row-gap: 30px;
            }
        }

        .center {
            column-gap: 235px;

            @include mediaWideDesktop {
                column-gap: 285px;
            }

            @include mediaDesktop {
                column-gap: 200px;
            }

            @include mediaLaptop {
                column-gap: 180px;
            }

            @include mediaTabPortrait {
                column-gap: 92px;
            }

            @include mediaMobile{
                flex-wrap: wrap;
                column-gap: 50px;
                row-gap: 30px;
            }
        }

        .bottom {
            @include mediaMobile{
                display: none;
            }
        }

        .btn_showMore {
            font-size: 13px;
            letter-spacing: text-space(13,5);
            height: 28px;
            font-weight: 600;
            background-color: $black-35;
            color: $white;
            padding: 6px 12px 4px 12px;
            border-radius: 5px;
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;

            @include mediaMobile{
                display: block;
            }
        }
    }
}